body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F1FF;
}

/* Menu Bar Design */

.header-section{
    width: 100%;
    height: 80px;
    background-color: #562EFF;
    margin-bottom: 20px;
}

.nav-section{
    margin: 0 auto;
    width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu a{
    color: #ffff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 30px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 40px;
    height: 51px;
    margin-right: 10px;
}

.logo span{
    color: #ffff;
    font-size: 24px;
}




/*----------- Top Player Design ------- */

hr {
    color: black;
    width: 90%;
}

.comtainer-top{
    background-color: #ffff;
    width: 870px;
    height: 679px;
    margin: 0 auto;
}

.top-player{
    padding: 33px;
}

.top-player h1{
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    margin-top: 0;
    margin-bottom: 30px;
    
}

.players-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
}

.players-container img{
    width: 56px;
    height: 56px;
}

.player{
    display: flex;
    align-items: center;
}
.player p{
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}


/*----------- Top Blog Design ------- */

.top-blog{
    padding: 33px;
}

.top-blog h2{
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    margin-top: 0;
    margin-bottom: 30px;
    
}

.blog-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.blog-content img{
    width: 177px;
    height: 117px;

}

.article-item{
    display: flex;
}

.article-info{
    margin-left: 15px;
}

.article-info h3{
    font-size: 20px;

}

.by-color{
    color: gray;
}

.article-info a{
    text-decoration: none;
    color: #562EFF
    ;
    
}

/*----------- Letest Course Section ------- */

.comtainer-bottom{
    width: 870px;
    height: 362px;
    background-color: #ffff;
    margin:0 auto ;
    margin-top: 20px;
}

.course-item{
    display: flex;
    gap: 25px;
}

.letest-course{
    padding: 33px;
}

.letest-course h2{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #562EFF;

}

.course-details{
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.course-details img{
    width: 224px;
    height: 104px;
}

.course-details h3{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
}

.course-details a{
    text-decoration: none;
    color: #562EFF;
    font-size: 15px;
}

.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-duration{
    background-color: #FEE5DF;
    padding: 6px;
    border-radius: 18px;
}

.fa-clock{
    margin-right: 8px;
    color: #FF4A60;
}

.time{
    color: #FF4A60;
    font-size: 15px;
}


/* Responcesive Design */

@media only screen and (max-width: 1399.98px) {

}

/* Large devices (desktops, less than 1200px) */

@media only screen and (max-width: 1199.98px) {
    .nav-section, .comtainer-top, .comtainer-bottom{
        width: 800px;
    }
}

/* Medium devices (tablets, less than 992px) */

@media only screen and (max-width: 991.98px) {
    .nav-section, .comtainer-top, .comtainer-bottom{
        width: 600px;
    }

    .players-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-content {
        grid-template-columns: 1fr;
        justify-items: left;
    }

    .comtainer-top {
        height: auto;
    }

    .course-item {
        flex-direction: column;
        align-items: center;
    }

    .comtainer-bottom {
        height: auto;
    }

    .course-details img {
        width: 100%;
        height: 100%;
    }
}

/* Small devices (landscape phones, less than 768px) */

@media only screen and (max-width: 767.98px) {
    .nav-section, .comtainer-top, .comtainer-bottom{
        width: 90%;
    }
}
@media only screen and (max-width: 475px) {
    .nav-section {
        flex-direction: column;
    }

    .header-section {
        height: auto;
    }

    .menu {
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
}